<header>
  <a href="#"class="logo">   
<img src="/images/LISBETH 1.jpeg" alt="se crea logo">
<h1>HERMOSOS INSTANTES DE LA VIDA</h1>
 </a>
 <nav>
  <a href="#" >HISTORIA</a>
  <a href="#">INFORMACION</a>
  <a href="#">SUEÑOS</a>
</nav>
</header>